@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Inter", system-ui, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #111827; /* gray-900 */
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
}

html {
	background-color: #111827; /* gray-900 */
	overflow-x: hidden;
	width: 100%;
}

#root {
	min-height: 100vh;
	background-color: #111827; /* gray-900 */
	width: 100%;
}

/* Custom scrollbar styles */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}
